/* Import Font*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&family=Eagle+Lake&family=Jacquard+12+Charted&family=Macondo&family=Uncial+Antiqua&display=swap');

/* ----------------
-------------------
-------------------
CSS TABLE OF CONTENTS

# GLOBAL STYLING
    # Global Reset
    # Global Colors
    # Global Typography
# LAYOUT
    # Grid
# STRUCTURE
    # HEADER
    # MAIN SECTIONS
        # HERO
    # FOOTER

-------------------
-------------------
---------------- */

/* GLOBAL STYLING */

/* Global Resets */
* { box-sizing: border-box; }
body { margin: 0; }

/* Global Colors */
body {
    /* SET THE BACKGROUND COLOR OF ALL PAGES */ 
    background-color: whitesmoke;

    /* SET THE MAIN TEXT COLOR FOR THE SITE*/
    color: rgb(0 0 0 / .8);
}

/* SET THE HOVER COLOR FOR LINKS */
a:hover {
    color: #5998d6;
}

/* SET THE COLOR OF ALL HEADINGS */
h1, h2, h3 {
    color: #980404;
}

/* Global Typography */

/* SET THE MAIN BODY FONT */
body {
    font-family: 'Macondo', serif;
    /* Set font size 100% = 1em =  16px */
    font-size: 120%;
    line-height: 1.4;
}

/* SET THE FONT FOR ALL HEADINGS */
h1, h2, h3 {
    font-family: 'Uncial Antiqua', serif;
}

/* SITE STRUCTURE */

/* HEADER */
.site-header {
    background-color: #980404;
    color: white;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.site-header a {
    color: white;
    text-decoration: none;
}

/* SITE ID */

.site-id h1 {
    margin: 0;
}

/* SITE NAV */
.site-nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    display: block;
    padding: 1em;
}

/* HERO SECTION */
.hero {
    background-color: #eeeeee;
    padding: 4em 1em;
    text-align: center;
}

.hero h2 {
    font-size: 4em;
    line-height: 1;
    text-transform: uppercase;
    margin: 0 auto;
}

.hero p {
    font-size: 1em;
    max-width: 30em;
    margin: 1em auto;
}

/* SUB-PAGES */
.page-sub .hero {
    background-color: rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.8)
}

/* COURSES SECTION */
.courses {
    background-color: #999999;
    padding: 6em 1em;
    display: grid;
    justify-content: center;
    text-align: center;
    margin-right: 8em;
    margin-left: 8em;
    margin-top: 2em;
}

.courses h3 {
    text-align: center;
}

.courses a {
    color: black;
    text-decoration: none;
}

.courses ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* COURSE PAGE WITH MULTIPLE PROJECT LISTS */
.coursework {
    padding: 3em 1em;
}

.coursework h2 {
    text-align: center;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project {
    margin: 2em;
}

/* NOTES PAGE LAYOUT */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

section {
    padding: 3em 1em;
}

/* SIDEBAR/ASIDE */
aside {
    padding: 2em 0;
}

@media (min-width: 768px) {
    .two-col-sidebar {
        display: grid;
        grid-template-columns: 20em auto;
    }
    .two-col-sidebar aside {
        border-right: 1px solid rgba(0,0,0,0.1);
        margin: 0 3em 2em 0;
        padding: .3em 2em 0 0;
    }
}

/* FOOTER */
footer {
    border-top: 1px solid rgba(0,0,0,.05);
    padding: 1em;
}

/* SOCIAL NAV*/
.social-nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.social-nav a {
    text-decoration: none;
    color: #980404;
    display: block;
    padding: 1em;
}

/* FOR DEV PURPOSES */
/* body * {
    background-color: rgba(0,0,0,.05) !important;
    border: 1px solid rgba(0,0,0,.1) !important;
    color: rgba(0,0,0,.5) !important;
} */
